In [14]:
"""Task # 1"""

print('''Twinkle,Twinkle,little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle,twinkle,little star,
        How I wonder what you are''')

Twinkle,Twinkle,little star,
        How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.
Twinkle,twinkle,little star,
        How I wonder what you are

In [ ]:
"""Task # 2"""

print(sys.version)

In [1]:
"""Task # 3"""

import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-24 02:23:38

In [5]:
"""Task # 4"""

radius = int(input("Enter the radius of the circle."))
area = 3.14 * (radius ** 2);
print("The area of the circle is: ",area);

Enter the radius of the circle.2
The area of the circle is:  12.56

In [9]:
"""Task # 5"""

fname = input("Your first name: ");
lname = input("Your last name: ");
print(lname,"",fname);

Your first name: Aun
Your last name: Syed
Syed  Aun

In [11]:
"""Task # 6"""

inp1 = int(input("Number 1: "));
inp2 = int(input("Number 2: "));
num = inp1 + inp2;
print("The addition of inp1 and inp2 is:",num);

Number 1: 3
Number 2: 3
The addition of inp1 and inp2 is: 6

In [3]:
"""Task # 7"""

total = 500;

mhs = float(input("Marks obtained in subject of Maths:"));
eng = float(input("Marks obtained in subject of English:"));
isl = float(input("Marks obtained in subject of Islamiyat:"));
sci = float(input("Marks obtained in subject of Science:"));
cmp = float(input("Marks obtained in subject of Computer:"));

obTotal = mhs + eng + isl + sci + cmp;

prc = (obTotal / total) * 100;

if(prc > 80 and prc < 100):
    print("A Grade!");
    
elif prc > 70 and prc < 80:
    print("B Grade!");
        
elif (prc < 70 and prc > 60):
    print("C Grade!");
        
elif (prc < 60 and prc > 50):
    print("D Grade!");
        
elif (prc > 100 and prc < 0):
    print("Invalid!");
    
else:
    print("You Failed!");

Marks obtained in subject of Maths:105
Marks obtained in subject of English:10
Marks obtained in subject of Islamiyat:1222
Marks obtained in subject of Science:0
Marks obtained in subject of Computer:0
You Failed!

In [6]:
"""Task # 8"""

inp = int(input("Enter a number: "));

if (inp % 2 == 0):
    print("Number is Even");
else:
    print("Number is Odd");

Enter a number: 13
Number is Odd

In [2]:
"""Task # 9"""

arr = [1,2,3,4];
print("The length of the list is: ",len(arr));

The length of the list is:  4

In [5]:
"""Task # 10"""

arr = [1,2,3,4];
print("The sum of the list is: ",sum(arr));

The sum of the list is:  10

In [7]:
"""Task # 11"""

arr = [1,2,3,4];
print("The larget number of the list is: ",max(arr));

The larget number of the list is:  4

In [9]:
"""Task # 12"""

arr = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

for item in arr:
    if item < 5:
        print(item);

1
1
2
3